.button,
.job-ad-cta {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--v2-card-background-level-2);
  color: var(--v2-card-headline-color);
  font-family: var(--fontRegular);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  white-space:nowrap;
  @media screen and (max-width: 1023px) {
    padding: 6px 14px;
    font-size: 0.8rem;
  }
}

.action-button {
}

.job-ad-cta {
  color: var(--v2-card-headline-color);
  background: var(--v2-job-button-background);
  border: 1px solid var(--v2-job-button-outline);
}
