.button,
.job-ad-cta {
  display: inline-block;
  border-radius: 5px;
  padding: 0.6rem 1.25rem;
  background-color: var(--v2-card-background);
  border: 1px solid var(--v2-card-border-background);
  color: var(--v2-card-headline-color);
  font-family: var(--fontRegular);
  font-size: 0.9rem;
  white-space:nowrap;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 1023px) {
    padding: 6px 14px;
    font-size: 0.8rem;
  }
  &.action {
    background-color: var(--v2-button-background-color);
  }
}

.job-ad-cta {
  color: v(v2-card-headline-color);
  background: v(v2-job-button-background);
  border: 1px solid v(v2-job-button-outline);
}
