.byline-row {
  display: flex;
  align-items: center;
  color: var(--v2-card-paragraph-color);
  gap: 0.6rem;


  .byline-profile-image {
    display: block;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    overflow: hidden;
    border-radius: 50%;
    img {
      max-width: 100%;
    }
    margin-right: 0;
    margin-bottom: 0;
  }
  .byline-info {
    display: flex;
    flex-direction: column;
  }
  .byline-bio {
    opacity: 0.6;
  }
  @media screen and (max-width: 700px) {
    gap: 0.3rem;
    max-width: 150px;
    .byline-bio {
      display: none;
    }

    .byline-profile-image {
      flex: 0 0 30px;
      height: 30px;
      border: 1px solid var(--v2-card-border-background);
    }
  }
}
