.article-previews .preview-list {
  background-color: var(--v2-card-background);
  &:hover {
    background-color: var(--v2-card-background-hover);
  }
}
.preview-list {
  width: 100%;
  padding: 0;
  background-color: var(--v2-preview-list-background);
  &:hover {
    background-color: var(--v2-preview-list-background);
  }
  &.job-list {
    h3 {
      background-image: linear-gradient(
        45deg,
        var(--v2-label-color-pink),
        var(--v2-label-color-orange)
      );
      
    }
    .preview .button {
      background-image: linear-gradient(
      45deg,
      var(--v2-label-color-pink),
      var(--v2-label-color-orange)  
      );
      color: v(v2-card-always-black);
      font-weight: bold;
    }
  }
  &.calendar-list {
    h3 {
      background-image: linear-gradient(
        45deg,
        var(--v2-label-color-pink),
        var(--v2-label-color-purple)
      );
      
    }
    .preview .button {
      background-image: linear-gradient(
      45deg,
      var(--v2-label-color-purple),
      var(--v2-label-color-pink)  
      );
      color: v(v2-card-always-black);
      font-weight: bold;
    }
  
  }
  h3 {
    padding: 0.6rem;
    margin: 0;
    text-align: center;
    color: var(--v2-card-headline-color);
    font-weight: normal;
    font-size: 1rem;
    &.highlight {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      padding-bottom: 0;
    }
  }

  .listing {

  }
  .listing-actions {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    .button {
      width: 100%;
    }
  }



  .preview {
    width: 100%;
    position: relative;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    a {
      padding: 0;
    }

    &:hover {
      background-color: var(--v2-card-background-hover);
      a {
        &:after {
          display: none;
        }
      }
    }

    .labels .label {
      font-size: 0.8rem;
      margin-bottom: 0.6rem;
      display: inline-block;
    }
    
    &.premium {
      @media screen and (max-width: 1023px) {
        border-radius: 0;
      }
      .headline,
      .headline .headline-title-wrapper {
        color: v(v2-card-always-white);
      }
      &.calendar {
        &:before {
          background-image: linear-gradient(
          45deg,
          var(--v2-label-color-pink),
          var(--v2-label-color-purple)  
          );
          z-index: 1;
          opacity: 0.2;
        }

      }
      a {
        &:after {
          display: none;
        }
      }
    }

    figure {
      flex: 0 0 75px;
      @media screen and (max-width: 1023px) {
        flex: 0 0 50px;
      }
    }
    a {
      position: relative;
      align-items: center;
      @media screen and (max-width: 1023px) {
        padding: 0;
      }

    }
    .call-to-action {
      flex: 0 0 100px;
      display: flex;
      @media screen and (max-width: 1023px) {
        flex: 0 0 90px;
      }
    }
    .call-to-action-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 0;
      position: relative;
    }
    .article-preview-text {
      position: relative;
      .labels {
        line-height: 1;
      }
      .labels .label {
        background-color: transparent;
        padding: 0;
        margin-bottom: 0.2rem;
        color: v(v2-card-paragraph-color);
      }
      .headline {
        font-family: v(fontRegular);
        font-size: 1.4rem;
        margin-bottom: 0;
        padding-right: 0.6rem;
        @media screen and (max-width: 1023px) {
          font-size: 1rem;
        }
      }
      .standfirst {
        margin-top: 0.2rem;
        margin-bottom: 0;
        font-size: 0.9rem;
        @media screen and (max-width: 1023px) {
          font-size: 0.7rem;
          display: block;
        }
      }
    }
  }
}

#desktop-sidemenu-front .preview-list {
  padding: 0;
  .call-to-action {
    display: none
  }
  .listing {
    padding: 0;
    display: block;
    overflow: visible;
  }
  .listing .preview {
      padding: 0;
      margin: 0;
      width: 100%;
  }
  h1 {
    font-size: 1rem;
  }
  .listing-actions {
    padding: calc(1.25rem/2);
  }
  .preview figure {
    flex: 0 0 50px;
  }
  h3 {
    text-align: center;
    padding: 1.2rem 0.6rem 0.6rem 0.6rem;
    font-size: 1.1rem;
    font-family: var(--fontRegular);
    font-weight: bold;
  }
  a {
    padding: 1rem;
  }
}

#front-articles-list .preview-list {
  @media screen and (min-width: 830px) {
    display: none;
  }
  &:hover {
    background: var(--v2-card-background);
  }
  .preview {
    flex: 0 0 200px;
    border: 1px solid var(--v2-card-border-background);
    background-color: var(--v2-background);
    border-radius: 10px;
  }
  .preview a {
    padding: 0.6rem;
    flex-direction: column;
    height: 100%;
  }
  figure {
    width: auto;
    flex: 0 0 100px;
    img {
      height: 100%;
    }
  }
  .listing {
    padding: 0.6rem;
    display: flex;
    overflow-x: scroll;
    gap: 0.6rem;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
  }
  .labels {
    text-align: center;
  }
  .call-to-action-container {
    flex: 1 1 100%;
    padding-top: 0.6rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  .headline {
    margin-top: 0.6rem;
    text-align: center;
  }

  h3 {
    text-align: left;
    padding: 1.2rem 1.2rem 0.6rem 1.2rem;
    font-size: 1.1rem;
    font-family: var(--fontRegular);
    font-weight: bold;
  }
  .article-preview-text {
    padding-left: 0;
    padding-right: 0;
  }

  .listing-actions .button {
    background-color: var(--v2-card-background-highlight);
  }

  .call-to-action {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex: 1 1 100%;
    .button {
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
    }
  }
  .listing-actions {
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  }
}