.article-previews .preview-list {
  background-color: var(--v2-card-background);
  &:hover {
    background-color: var(--v2-card-background-hover);
  }
}
.preview-list {
  width: 100%;
  padding: 0;
  background-color: var(--v2-preview-list-background);
  &:hover {
    background-color: var(--v2-preview-list-background);
  }
  &.job-list {
    h3 {
      background-image: linear-gradient(
        45deg,
        var(--v2-label-color-pink),
        var(--v2-label-color-orange)
      );
    }
  }
  &.calendar-list {
    h3 {
      background-image: linear-gradient(
        45deg,
        var(--v2-label-color-pink),
        var(--v2-label-color-purple)
      );
    }
  
  }
  h3 {
    background: var(--v2-card-background);
    padding: 0.6rem;
    margin: 0;
    text-align: center;
    color: var(--v2-card-headline-color);
    font-weight: normal;
    font-size: 1rem;
    &.highlight {
      color: var(--v2-card-always-black);
    }
  }

  .listing {

  }
  .listing-actions {
    padding: 1.25rem;
  }

  .listing {
    padding: 1.25rem;
    display: flex;
    overflow: scroll;
    .preview {
      
    }
  }

  .preview {
    width: 100%;
    position: relative;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--v2-card-border-background);
    flex: 0 0 200px;
    a {
      padding: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: var(--v2-card-background-hover);
      a {
        &:after {
          display: none;
        }
      }
    }

    .labels .label {
      font-size: 0.8rem;
      margin-bottom: 0.6rem;
      display: inline-block;
    }

    &.calendar {
      &.premium {
        @media screen and (min-width: 1023px) {
          margin-bottom: 0.6rem;
        }
        .article-preview-text .labels .label,
        .article-preview-text .standfirst {
          color: v(v2-card-always-white-paragraph-color);
        }
      }
      .button {
        color: v(v2-card-headline-color);
        background: v(v2-calendar-button-background);
        border: 1px solid v(v2-calendar-button-outline);
      }
    }
    &.job {
      .button {
        color: v(v2-card-headline-color);
        background: v(v2-job-button-background);
        border: 1px solid v(v2-job-button-outline);
      }
    }
    @media screen and (max-width: 1023px) {
      padding: 0.8rem;
      margin: 0 -0.8rem 0 -0.8rem;
      width: calc(100% + 1.6rem);
    }
    &.premium {
      @media screen and (max-width: 1023px) {
        border-radius: 0;
      }
      .headline,
      .headline .headline-title-wrapper {
        color: v(v2-card-always-white);
      }
      &.calendar {
        &:before {
          background-image: linear-gradient(
          45deg,
          var(--v2-label-color-pink),
          var(--v2-label-color-purple)  
          );
          z-index: -1;
          opacity: 0.2;
        }
        
      }
      a {
        &:after {
          display: none;
        }
      }
      .button {
        color: white;
        background-color: v(v2-calendar-gradient-start);
      }
    }

    figure {
      flex: 0 0 75px;
      @media screen and (max-width: 1023px) {
        flex: 0 0 50px;
      }
    }
    a {
      position: relative;
      align-items: center;
      @media screen and (max-width: 1023px) {
        padding: 0;
      }

    }
    .call-to-action {
      flex: 0 0 100px;
      display: flex;
      @media screen and (max-width: 1023px) {
        flex: 0 0 90px;
      }
    }
    .call-to-action-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 0;
      position: relative;
    }
    .article-preview-text {
      position: relative;
      .labels {
        line-height: 1;
      }
      .labels .label {
        background-color: transparent;
        padding: 0;
        margin-bottom: 0.2rem;
        color: v(v2-card-paragraph-color);
      }
      .headline {
        font-family: v(fontRegular);
        font-size: 1.4rem;
        margin-bottom: 0;
        padding-right: 0.6rem;
        @media screen and (max-width: 1023px) {
          font-size: 1rem;
        }
      }
      .standfirst {
        margin-top: 0.2rem;
        margin-bottom: 0;
        font-size: 0.9rem;
        @media screen and (max-width: 1023px) {
          font-size: 0.7rem;
          display: block;
        }
      }
    }
  }
}

#desktop-sidemenu-front .preview-list {
  padding: 0;
  .call-to-action {
    display: none
  }
  .listing {
    padding: 0;
    display: block;
    overflow: visible;
  }
  .listing .preview {
      padding: 0;
      margin: 0;
      width: 100%;
  }
  h1 {
    font-size: 1rem;
  }
  .listing-actions {
    padding: calc(1.25rem/2);
  }
  .preview figure {
    flex: 0 0 50px;
  }
  a {
    padding: calc(1.25rem/2);
  }
}