.company-league-table {
    
    
    color: var(--v2-card-paragraph-color);
    border-collapse: collapse;
    td {
        padding: 0.6rem;
        font-size: 0.8rem;
        text-align: left;
        border-bottom: 1px solid var(--v2-card-background-hover);

    }
    tr:last-child {
        td {
            border-bottom: none;
        }   
    }
    tr:hover {
        td {
            background-color: var(--v2-card-background-hover);
        }
    }
}

.company-league-table-wrapper {
    text-align: center;
    border: 1px solid var(--v2-card-background-hover);
    border-radius: 10px;
    margin-bottom: 1.25rem;
    overflow: hidden;
    h3 {
        background: linear-gradient(45deg, var(--v2-label-color-pink), var(--v2-commercial-orange-stop));
        margin: 0;
        padding: 0.6rem;
        color: var(--v2-card-headline-color) !important;
    }
}