.desktop-row {
  padding: var(--gutter);
}
.desktop-row .heading {
  .button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  position: relative;
  .heading-title {
    margin-bottom: var(--gutter);
    padding: 0;
    padding-right: 70px;
    font-size: 1.2rem;
  }



  .heading-description {
    margin-top: 0;
    color: var(--v2-card-paragraph-color);
    padding: 0;
    margin-bottom: var(--gutter);
    padding-right: 70px;
    display: none;
  }
}
.desktop-row .standfirst {
  display: none;
}
.desktop-row {

&.card {
    background-color: var(--v2-card-background);
  }

  &.border {
    border: 1px solid var(--v2-card-border-background);
  }

  &.commercial {
    background: linear-gradient(45deg, var(--v2-label-color-pink), var(--v2-label-color-orange));
    position: relative;

    &:before {
      content: "";
      background-color: var(--v2-card-background);
      position: absolute;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    .company-name {
      font-size: 0.8rem;
      margin: 0 0 calc(var(--gutter)/4) 0;
    }
  }

  .triple,
  .main-story-with-two-vertical,
  .main-story-with-vertical-list,
  .main-story-with-two-vertical-extra-triple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    article {
      grid-column: span 1;
    }
    article:first-child {
      grid-column: span 2;
      .headline {
        font-size: 1.4rem;
      }
    }
    article:not(:first-child) {
      .headline {
            font-size: 0.9rem;
      }
    }
    article:nth-child(1n + 6) {
      display: none;
    }
  }

  .dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    article {
      grid-column: span 1;
    }
  }
  .main-story-with-two-vertical-extra-triple {
    article:last-child {
        grid-column: span 2;
      }
  }
}

@media screen and (min-width: 830px) {

.heading-title:has(+ .heading-description) {
  margin-bottom: calc(var(--gutter) / 4);
  padding: 0;
}

.heading-description {
  display: block;
}
.desktop-row {
  --image-height: 170px;
  margin-bottom: calc(var(--gutter) * 4);
  padding: var(--gutter);
  border-radius: var(--border-radius);

  &.commercial {
    &:before {
        border-radius: calc(var(--border-radius) / 1);
      }
  }
  .triple,
  .main-story-with-two-vertical,
  .main-story-with-two-vertical-extra-triple {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;
    gap: calc(var(--gutter)) calc(var(--gutter));
    article {
      grid-column: span 2;
      background: transparent;
      border: 0;
      border-radius: 0;
    }
  }
  .triple {
    article:not(:first-child) {
      .headline {
        font-size: 1.1rem;
      }
    }
  }
  .main-story-with-vertical-list,
  .main-story-with-vertical-list-extra-triple {
    display: grid;
    gap: calc(var(--gutter)) calc(var(--gutter));
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;

    article {
      &:first-child {
        grid-column: span 3;
        grid-row: span 4;

        .headline {
          font-size: 2rem;
        }

        .standfirst {
          display: block;
          font-size: 1.1rem;
          margin-bottom: var(--gutter);
        }

        .article-social {
          font-size: 1rem;
        }

        figure {
          max-height: calc(var(--image-height)* 2);

        }

        .byline-profile-image {
          flex: 0 0 40px;
          height: 40px;
          width: 40px;
        }

        .byline-bio {
          display: block;
        }

      }
      &:not(:first-child) {
        >.article-content-wrapper {
          display: flex;
          flex-direction: row-reverse;
          gap: calc(var(--gutter) / 2);
        }
        grid-column: span 3;
        
        figure {
          width: calc(var(--image-height) / 1.5);

        }
        .headline {
          font-size: 1.1rem;
          font-weight: normal;
        }
      }
    }
    .article-social {
      margin-top: calc(var(--gutter) / 2);
    }

  }

  .dual {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: calc(var(--gutter)) calc(var(--gutter));
    article {
      &:nth-child(1n + 3) {
        display: none;
      }
    }
    .headline {
      font-size: 1.7rem;
    }
    figure {
        max-height: calc(var(--image-height)* 1.5);

    }
  }

  .single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: calc(var(--gutter)) calc(var(--gutter));
    article {
      &:nth-child(1n + 2) {
        display: none;
      }
    }
    .headline {
        font-size: 3rem;
      }

      figure {
        max-height: calc(var(--image-height)* 3);

      }
      .article-social {
        font-size: 1rem;
      }
      .byline-profile-image {
        flex: 0 0 40px;
        height: 40px;
        width: 40px;
      }

      .byline-bio {
        display: block;
      }
  }
  .main-story-with-two-vertical,
  .main-story-with-two-vertical-extra-triple {
    article {
      &:first-child {
          grid-column: span 4;
          grid-row: span 2;

          .headline {
            font-size: 2.6rem;
          }

          .standfirst {
            display: block;
            font-size: 1.1rem;
            margin-bottom: var(--gutter);
          }

          .article-social {
            font-size: 1rem;
          }

          figure {
            max-height: calc(var(--image-height)* 2);

          }

          .byline-profile-image {
            flex: 0 0 40px;
            height: 40px;
            width: 40px;
          }

          .byline-bio {
            display: block;
          }
      }
      &:not(:first-child) {
        .headline {
          font-size: 1.1rem;
        }
      }
    }
  }

  .main-story-with-two-vertical.reverse {
    article:last-child {
      grid-column: span 4;
      grid-row: span 2;
      .headline {
        font-size: 2.4rem;
      }
      figure {
        max-height: calc(var(--image-height) * 2);
      }
      .headline {
        font-size: 2.6rem;
      }

      .standfirst {
        display: block;
        font-size: 1.1rem;
        margin-bottom: var(--gutter);
      }

      .article-social {
        font-size: 1rem;
      }

      figure {
        max-height: calc(var(--image-height)* 2);

      }

      .byline-profile-image {
        flex: 0 0 40px;
        height: 40px;
        width: 40px;
      }

      .byline-bio {
        display: block;
      }
    }
    article:first-child {
      grid-column: span 2;
      grid-row: none;
    }
    article:not(:last-child) {
      .headline {
            font-size: 0.9rem;
      }
    }
  }

  .preview {
    >a {
      flex-direction: column;
      padding: 0;
      gap: calc(var(--gutter) / 2);
    }
  }
                    figure {
                      display: block;
                      width: 100%;
                      max-height: var(--image-height);
                      overflow: hidden;
                      flex: auto;

                      img {
                        border-radius: var(--border-radius);
                      }

                    }
      .headline {
        font-size: 1rem;
      }
      .standfirst {
        display: none;
      }
      .article-preview-text {
        padding-left: 0;
      }
    .article-social {
      padding: 0;
      justify-content: flex-start;
      gap: calc(var(--gutter) / 4) var(--gutter);
      font-size: 0.8rem;
    }
    .byline-profile-image {
      flex: 0 0 20px;
      height: 20px;
      width: 20px;
    }
    .byline-bio {
      display: none;
    }
    .article-social .reaction-button:before {
      width: 14px;
      height: 14px;
    }
  }
}



#front-articles-list {
  .single {
      article {
        &:nth-child(1n + 2) {
          display: none;
        }
      }
    }

    .dual {
      article {
        &:nth-child(1n + 3) {
          display: none;
        }
      }
    }

    .triple {
      article {
        &:nth-child(1n + 4) {
          display: none;
        }
      }
    }

    .main-story-with-two-vertical {
      article {
        &:nth-child(1n + 4) {
          display: none;
        }
      }
    }

    .main-story-with-vertical-list-extra-triple {
      article {
        &:nth-child(1n + 7) {
          display: none;
        }
      }
    }

    .main-story-with-two-vertical-extra-triple {
      article {
        &:nth-child(1n + 7) {
          display: none;
        }
      }
    }
}