.desktop-row {
  padding: var(--gutter);
}
.desktop-row .heading {
  .button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  position: relative;
  .heading-title {
    margin-bottom: var(--gutter);
    padding: 0;
    padding-right: 70px;
    font-size: 1.2rem;
  }



  .heading-description {
    margin-top: 0;
    color: var(--v2-card-paragraph-color);
    padding: 0;
    margin-bottom: var(--gutter);
    padding-right: 70px;
    display: none;
  }
}
.desktop-row .standfirst {
  display: none;
}
.desktop-row {

&.card {
    background-color: var(--v2-card-background);
  }

  &.border {
    border: 1px solid var(--v2-card-border-background);
  }

  &.commercial {
    background: linear-gradient(45deg, var(--v2-label-color-pink), var(--v2-label-color-orange));
    position: relative;

    &:before {
      content: "";
      background-color: var(--v2-background);
      position: absolute;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    .company-name {
      font-size: 0.8rem;
      margin: 0 0 calc(var(--gutter)/4) 0;
    }
  }

  .button {
    background-color: var(--v2-card-background-highlight);
  }
  .main-story-with-two-vertical,
  .main-story-with-vertical-list,
  .main-story-with-two-vertical-extra-triple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--gutter) * 2) var(--gutter);
    .preview {
      grid-column: span 1;
    }
    article:first-child {
      grid-column: span 2;
      .headline {
        font-size: 1.8rem;
      }
    }
    article:not(:first-child) {
      .headline {
            font-size: 1.1rem;
      }
    }
    article:nth-child(1n + 6) {
      display: none;
    }
  }

  .dual,
  .dual-extra-dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    .preview {
      grid-column: span 1;
    }
  }

  .main-story-with-two-vertical-extra-triple {
    article:last-child {
        grid-column: span 2;
      }
  }
}

@media screen and (min-width: 830px) {

  .heading-title:has(+ .heading-description) {
    margin-bottom: calc(var(--gutter) / 4);
    padding: 0;
  }

  .heading-description {
    display: block;
  }



  .desktop-row {
    --image-height: 170px;
    margin-bottom: calc(var(--gutter) * 2);
    padding: 0;
    border-radius: var(--border-radius);
    &.first-row {
      padding-top: 0;
    }

    &.card, 
    &.commercial {
      padding: var(--gutter);
    }

    &.commercial {
      &:before {
          border-radius: calc(var(--border-radius) / 1);
        }
    }

    .triple,
    .main-story-with-two-vertical,
    .main-story-with-two-vertical-extra-triple,
    .main-story-with-vertical-list,
    .main-story-with-vertical-list-extra-triple,
    .dual,
    .dual-extra-dual,
    .single {
      grid-auto-rows: min-content;
      gap: calc(var(--gutter) / 2) calc(var(--gutter) / 2);
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .preview {
        padding: calc(var(--gutter) / 2);
        border-radius: var(--border-radius);
        &:hover {
          background-color: var(--v2-card-background);
        }
      }
    }

    .triple,
    .main-story-with-two-vertical,
    .main-story-with-two-vertical-extra-triple {
      .preview {
        grid-column: span 2;
        background: transparent;
      }
    }
    .triple {
      article:not(:first-child) {
        .headline {
          font-size: 1.1rem;
        }
      }
    }
    .main-story-with-vertical-list,
    .main-story-with-vertical-list-extra-triple {
      

      .preview {
        &:first-child {
          grid-column: span 3;
          grid-row: span 4;

          .headline {
            font-size: 2rem;
          }

          .standfirst {
            display: block;
            font-size: 1.1rem;
            margin-bottom: var(--gutter);
          }

          .article-social {
            font-size: 1rem;
          }

          figure {
            max-height: calc(var(--image-height)* 2);

          }

          .byline-profile-image {
            flex: 0 0 40px;
            height: 40px;
            width: 40px;
          }

          .byline-bio {
            display: block;
          }

        }
        &:nth-child(2) {
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
        }

        &:not(:first-child) {
          grid-column: span 3;
          background-color: var(--v2-card-background-highlight);
          padding: var(--gutter) var(--gutter) 0 var(--gutter);
          margin-bottom: calc(var(--gutter) * -1);
          >.article-content-wrapper {
            display: flex;
            flex-direction: row-reverse;
            gap: calc(var(--gutter) / 2);
          }

          figure {
            width: calc(var(--image-height) / 2);

          }
          .headline {
            font-size: 1rem;
            font-weight: normal;
          }
        }
        &:nth-child(5) {
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          margin-bottom: 0;
          padding-bottom: var(--gutter);
        }
      }
      .article-social {
        margin-top: calc(var(--gutter) / 2);
      }

    }

    .dual,
    .dual-extra-dual {
      .preview {
        grid-column: span 3;
        &:nth-child(1n + 3) {
          display: none;
        }
      }
      .headline {
        font-size: 1.7rem;
      }
      figure {
          max-height: calc(var(--image-height)* 1.5);

      }
    }

    .dual-extra-dual {
      .preview {
        &:nth-child(1n + 5) {
          display: none;
        }
      }
    }

    .single {
      .preview {
        grid-column: span 6;
        &:nth-child(1n + 2) {
          display: none;
        }
      }
      .headline {
          font-size: 3rem;
        }

        figure {
          max-height: calc(var(--image-height)* 3);

        }
        .article-social {
          font-size: 1rem;
        }
        .byline-profile-image {
          flex: 0 0 40px;
          height: 40px;
          width: 40px;
        }

        .byline-bio {
          display: block;
        }
    }

    .main-story-with-two-vertical,
    .main-story-with-two-vertical-extra-triple {
      .preview {
        &:first-child {
          grid-column: span 4;
          grid-row: span 2;

          .headline {
            font-size: 2.6rem;
          }

          .standfirst {
            display: block;
            font-size: 1.1rem;
            margin-bottom: var(--gutter);
          }

          .article-social {
            font-size: 1rem;
          }

          figure {
            max-height: calc(var(--image-height)* 2);
          }

          .byline-profile-image {
            flex: 0 0 40px;
            height: 40px;
            width: 40px;
          }

          .byline-bio {
            display: block;
          }
        }
        &:not(:first-child) {
          .headline {
            font-size: 1.1rem;
          }
        }
      }
    }

    .main-story-with-two-vertical.reverse {
      article:last-child {
        grid-column: span 4;
        grid-row: span 2;
        .headline {
          font-size: 2.4rem;
        }
        figure {
          max-height: calc(var(--image-height) * 2);
        }
        .headline {
          font-size: 2.6rem;
        }

        .standfirst {
          display: block;
          font-size: 1.1rem;
          margin-bottom: var(--gutter);
        }

        .article-social {
          font-size: 1rem;
        }

        figure {
          max-height: calc(var(--image-height)* 2);

        }

        .byline-profile-image {
          flex: 0 0 40px;
          height: 40px;
          width: 40px;
        }

        .byline-bio {
          display: block;
        }
      }
      article:first-child {
        grid-column: span 2;
        grid-row: none;
      }
      article:not(:last-child) {
        .headline {
              font-size: 0.9rem;
        }
      }
    }

    .preview {
      >a {
        flex-direction: column;
        padding: 0;
        gap: calc(var(--gutter) / 2);
      }
    }

    figure {
      display: block;
      width: 100%;
      max-height: var(--image-height);
      overflow: hidden;
      flex: auto;

      img {
        border-radius: var(--border-radius);
      }

    }

    .headline {
      font-size: 1rem;
    }
    .standfirst {
      display: none;
    }
    .article-preview-text {
      padding-left: 0;
    }
    .article-social {
      padding: 0;
      justify-content: flex-start;
      gap: calc(var(--gutter) / 4) var(--gutter);
      font-size: 0.8rem;
    }
    .byline-profile-image {
      flex: 0 0 20px;
      height: 20px;
      width: 20px;
    }
    .byline-bio {
      display: none;
    }
  }
}



#front-articles-list {
  .single {
      .preview {
        &:nth-child(1n + 2) {
          display: none;
        }
      }
    }

    .dual {
      .preview {
        &:nth-child(1n + 3) {
          display: none;
        }
      }
    }

    .triple {
      .preview {
        &:nth-child(1n + 4) {
          display: none;
        }
      }
    }

    .main-story-with-two-vertical {
      .preview {
        &:nth-child(1n + 4) {
          display: none;
        }
      }
    }

    .main-story-with-vertical-list-extra-triple {
      .preview {
        &:nth-child(1n + 7) {
          display: none;
        }
      }
    }

    .main-story-with-two-vertical-extra-triple {
      .preview {
        &:nth-child(1n + 7) {
          display: none;
        }
      }
    }
}


.desktop-row .dummy-desktop-row {
  --image-height: 170px;
  .dummy-style {
    background-color: var(--v2-card-background);
    border-radius: var(--border-radius);
  }
  max-width: 100%;
  overflow: hidden;
  .dummy-article {
    &:first-child {
      .dummy-image {
        width: 960px;
        height: 620px;
        max-height: calc(var(--image-height)* 2);
      }
      .dummy-title {
        width: 80%;
        height: 120px;
      }
      .dummy-byline {
        width: 180px;
        height: 50px;
      }
    }
    .dummy-image {
      width: 960px;
      height: 620px;
      max-width: 100%;
      max-height: var(--image-height);
      margin-bottom: calc(var(--gutter) / 2);
      animation: flashBackground 4s linear infinite;
    }
    .dummy-time {
      width: 100px;
      height: 14px;
      margin-bottom: calc(var(--gutter) / 2);
      animation: flashBackground 4s linear infinite;
    }
    .dummy-title {
      width: 80%;
      height: 40px;
      margin-bottom: calc(var(--gutter) / 2);
      animation: flashBackground 4s linear infinite;
    }
    .dummy-byline {
      width: 130px;
      height: 25px;
      animation: flashBackground 4s linear infinite;
    }
  }
}