h2 {
  color: var(--v2-card-headline-color);
  margin: 0 0 1rem 0;
  #date-frontpage {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 0.1rem;
    color: var(--v2-card-paragraph-color);
  }
  @media screen and (max-width: 1023px) {
      font-size: 1.2rem;
      padding: 0 1.2rem;
  }
}

.frontpage {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 0;
  margin: 0 auto 0 auto;
  padding: 54px 0 0.6rem 0;
  grid-template-columns: 100% 100% 0;
  #desktop-sidemenu-front {
    display: none;
  }
  @media screen and (min-width: 830px) {
    &.with-ribbon {
        padding: 6.5rem 0 0 0;
    }
    padding: calc(var(--gutter) * 4) max(var(--gutter), 50vw - 860px / 2);
    grid-template-columns: minmax(160px, 160px) minmax(0, 986px);
    gap: calc(var(--gutter) * 2);

  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: minmax(160px, 160px) minmax(0, 986px) 310px;
    #desktop-sidemenu-front {
        display: block;
      }
  }
  img {
    width: 100%;
    max-width: 100%;
  }

  &.with-ribbon {
    padding: 4.4rem 0.6rem 0.6rem 0.6rem
  }

  &.only-main-row {
    #left-menu,
    #desktop-sidemenu-front {
      display: none;
    }
    #front-articles-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


}

.row {
  justify-content: center;
  margin-bottom: 1.25rem;

  iframe {
    width: 100%;
    margin-bottom: 0 !important;
  }

  .columns.large-6,
  .columns.large-5,
  .columns.large-7 {
    margin-bottom: 1.25rem;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 0.6rem;
  }
}
