h2 {
  color: var(--v2-card-headline-color);
  margin: 0 0 1rem 0;
  @media screen and (max-width: 1023px) {
      font-size: 1.2rem;
      padding: 0 0.6rem;
  }
}

.frontpage {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 0;
  margin: 0 auto 0 auto;
  grid-template-columns: 250px 680px 350px;
  @media screen and (max-width: 1023px) {
    padding: 4rem 0 0.6rem 0;

    grid-template-columns: 100%;
  }
  img {
    width: 100%;
    max-width: 100%;
  }

  padding: 1.25rem;

  &.with-ribbon {
    padding: 4.4rem 0.6rem 0.6rem 0.6rem
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
    padding: 5rem 0 0 0;
    &.with-ribbon {
      padding: 6.5rem 0 0 0;
    }
  }
  @media screen and (min-width: 1450px) {
    width: 1440px;
  }
  &.only-main-row {
    #left-menu,
    #desktop-sidemenu-front {
      display: none;
    }
    #front-articles-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }



  .article-previews .row:nth-child(1) {
    .preview {
      background-color: var(--v2-card-background);
      .article-social {
        background-color: var(--v2-card-background-hover);
      }
    }

    h1.headline {
      font-size: 1.8rem !important;
      @media screen and (max-width: 1023px) {
        font-size: 1.2rem !important;
      }
    }
  }
  .row {
    justify-content: center;
    margin-bottom: 1.25rem;
    iframe {
      width: 100%;
      margin-bottom: 0 !important;
    }
    .columns.large-6,
    .columns.large-5,
    .columns.large-7 {
      margin-bottom: 1.25rem;
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 0.6rem;
    }
  }
}
