#tip-us-call-to-action {
  padding: calc(var(--gutter) / 1.5);
  background-color: var(--v2-card-background);
  .title {
    font-size: 1rem;
    text-align: center;
    color: var(--v2-card-paragraph-color);
    padding: 0 var(--gutter) 0var(--gutter);
    margin: 0;
    font-family: var(--fontMono);
  }
  .description {
    color: var(--v2-card-headline-color);
    text-align: center;
  }
  margin-bottom: calc(var(--gutter) * 2);
  border-radius: var(--border-radius);
  border: 1px solid var(--v2-card-border-background);
  a {
    color: var(--v2-label-color-pink-lighter);
  }
}

#left-menu {
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 10;
  background-color: var(--v2-background);
  height: calc(100vh - 50px);
  overflow: auto;
  padding: 0 0 0 0;
  width: 100%;
  display: none;
  padding: var(--gutter);
  &.active {
    display: block;
  }

  h3 {
    display: none;
  }

  #left-menu-nav-content,
  #left-menu-nav-social,
  .navigation {
    margin-bottom: calc(var(--gutter) * 2);
  }


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--gutter);
    flex-wrap: wrap;
    @media screen and (min-width: 800px) {
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 0;
      justify-content: flex-start;
    }
    li {
      @media screen and (max-width: 1023px) {
        display: inline-block;
      }
      a {
        padding: calc(var(--gutter) / 2);
        font-size: 1rem;
        display: inline-flex;
        gap: calc(var(--gutter) / 2);
        color: var(--v2-card-headline-color);
        flex: 0 0;

        img {
          width: 25px;
        }
      }
      &:hover {
        background-color: v(v2-card-background-sidebar);
        border-radius: 10px;
        .icon {
          path,
          circle,
          line,
          polyline {
            stroke: v(v2-card-headline-color);
          }
        }
        a {
          color: v(v2-card-headline-color);
        }
      }
    }
  }
  @media screen and (min-width: 830px) {
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    overflow: visible;
    display: block;
    padding: var(--gutter) 0 0 0;
  }
}





#company-sponsors-list {
  max-width: 170px;
  img {
    display: block;
    padding: 4px;
    background-color: v(v2-background-always-dark);
    border-radius: 4px;
  }
  .silver {
    padding: 0.4rem;
    &.preview {
      display: block;
      background-color: transparent;
      margin-bottom: 0;
      @media screen and (max-width: 1023px) {
        width: calc(50% - 10px);
        display: inline-block;
      }
      a {
        padding: 0;
        display: block;
        gap: 0;
        img {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
  .gold {
    &.preview {
      margin-bottom: 0;
      background-color: transparent;
      a {
        padding: 0;
        gap: 0;
        margin-bottom: calc(var(--gutter) / 2)
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        margin-right: 0;
      }
      p {
        color: v(v2-card-paragraph-color);
        font-size: 0.7rem;
        font-style: italic;
      }
    }
  }
  .gold,
  .silver {
    box-shadow: none;
    border-bottom: 1px solid v(v2-card-background-level-2);
    border-radius: 0;

  }
}
