a {
  .native-advertisement {
    .kicker {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.native-advertisement.preview,
.article-entity .native-advertisement.preview {
  background: linear-gradient(
    45deg,
    v(v2-pink-gradient-start),
    v(v2-commercial-orange-stop)
  );

  &.job {
    figure {
      flex: 0 0 110px;
    }
  }

  .labels .label,
  .deck {
    background: var(--v2-card-background);
    color: var(--v2-card-paragraph-color);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    pointer-events: none;
    z-index: 0;
    background-color: var(--v2-background);
    border-radius: 10px;
  }

}
#front-articles-list .native-advertisement.preview {
  &:not(.job) {
    a {
      position: relative;
    }
  }
}

#front-articles-list .action {
  background-image: linear-gradient(
    45deg,
    v(v2-pink-gradient-start),
    v(v2-commercial-orange-stop)
  );
}

.article-entity .body-copy .native-advertisement {
  a {
    align-items: flex-start;
  }
  .article-preview-text {
    .headline {
      margin-left: 0;
      @media screen and (max-width: 1023px) {
        font-size: 1rem;
        padding-left: 0;
      }
    }
    .standfirst {
      font-size: 0.9rem;
      @media screen and (max-width: 1023px) {
        font-size: 0.7rem;
      }
    }
  }
}

.native-advertisement.preview,
.article-entity .native-advertisement {
  .headline {
    font-family: v(fontRegular);
  }
}
