.diamond-partners-list {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--gutter) / 2);
    li {
      display: inline-block;
      flex: 0 0 44%;
    }
    a {
      padding: 0 !important;
    }
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
  .dummy-diamond-partner-list-item {
    background-color: var(--v2-card-background);
    height: 60px;
    border-radius: 10px;
    display: block;
  }
}


.partner #front-articles-list {

  .row {
    max-width: 600px;
    margin: 0 auto;
  }
  .preview {
    margin-bottom: 1rem;
  }
  .headline {
    font-size: 1.2rem;
  }

  #desktop-sidemenu-front {
    display: none;

  }
}

#front-articles-list {
  .panel {
    max-width: 600px;
    margin: 0 auto;
  }
  .copy {
    p {
      color: var(--v2-card-paragraph-color);
      max-width: 600px;
      margin: 0 auto 1rem auto;

    }
    h2 {
      color: var(--v2-card-headline-color);
      text-align: center;
      font-family: var(--fontMono);
      margin-top: 3rem;
    }
    a {
      cursor: pointer;
    }
    p a {
          text-decoration: none;
            cursor: pointer;
            background-image: linear-gradient(90deg, var(--v2-pink-gradient-start), var(--v2-pink-gradient-stop));
            background-position: 0px 22px;
            background-repeat: repeat-x;
            background-size: 100% 1px;
            overflow: visible;
            padding-bottom: 6px;
            color: var(--v2-card-paragraph-color);
    }
    p,
    ul,
    ol {
      max-width: 600px;
      margin: 0 auto 1rem auto;
      color: var(--v2-card-paragraph-color);
    }
  }

  .section-title.heading {
    color: var(--v2-card-headline-color);
    text-align: center;
    font-family: var(--fontMono);
    margin-top: 3rem;
    max-width: 600px;
    margin: 2rem auto 2rem auto;
  }

  .section-title.center {
    color: var(--v2-card-headline-color);
    max-width: 600px;
    margin: 0 auto;
  }


  .quotebox {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
      blockquote {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        line-height: 1.4;
        font-family: "IBM Plex Mono", monospace;
        background: linear-gradient(45deg,
            v(v2-pink-gradient-start),
            v(v2-pink-gradient-stop));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s ease-in-out;

        @media screen and (min-width: $vp-tablet) {
          font-size: 1.9rem;
        }
      }
  }



  .row:nth-child(1n+1) .section-title {
    font-size: 1.8rem;
  }


  iframe {
    max-width: 600px;
    display: block;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
  }

  .row>figure {
    padding: 0 !important;
    margin: 2rem auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  figure img {
    display: block;
  }
}