.light .diamond-partners-list {
  .dark {
    display: none;
  }
  .light {
    display: block;
  }
}
.diamond-partners-list {
  .dark {
    display: block;
  }
  .light {
    display: none;
  }
  .description {
    display: none;
    position: absolute;
    top: calc(100% + var(--gutter) / 2);
    box-shadow: 0 0 10px 0 var(--v2-background);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 0.8rem;
    color: var(--v2-card-headline-color);
    background-color: var(--v2-card-background);
    border-radius: 10px;
    padding: calc(var(--gutter));
    z-index: 1000;
    text-align: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 10px 7px;
      border-color: transparent transparent var(--v2-card-background) transparent;
      top: -10px;
      position: absolute;
      left: 50%;
      transform: translateX(-7px);
    }
  }

  display: flex;
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  @media screen and (min-width: 830px) {
    top: 63px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: calc(var(--gutter));
    li {
      position: relative;
    }
    a {
      position: relative;
    }
    img {
      max-height: 30px;
      opacity: 0.6;
    }
    a:hover {
      img {
        opacity: 1;
      }
      .description {
        display: block;
      }
    }
  }
  h3 {
    margin: 0;
    color: var(--v2-card-paragraph-color);
    font-size: 0.8rem;
  }
  border-bottom: 1px solid;
  border-color: var(--v2-card-border-background);

  overflow-y: hidden;
  overflow-x:  scroll;
  white-space: nowrap;
  justify-content: flex-start;
  padding: calc(var(--gutter) / 2);
  gap: calc(var(--gutter));
  @media screen and (min-width: 1200px){
    overflow-y: visible;
      overflow-x: visible;
  }
  li {
    width: max-content;
  }
  ul {
    gap: calc(var(--gutter) / 2);
  }
  &::-webkit-scrollbar {
    height: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--v2-card-background);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--v2-card-background-highlight);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--v2-card-background-highlight);
  }

  @media screen and (max-width: 1199px) and (min-width: 801px) {
    padding: calc(var(--gutter));
    gap: calc(var(--gutter) * 2);
    ul {
      gap: var(--gutter);
    }

  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
    gap: calc(var(--gutter) * 2);
    &::-webkit-scrollbar {
      height: 1px;
    }
    ul {
      gap: var(--gutter);
    }
  }
}

#front-articles-list {
  .panel {
    max-width: 600px;
    margin: 0 auto;
  }
  .copy {
    p {
      color: var(--v2-card-paragraph-color);
      max-width: 600px;
      margin: 0 auto 1rem auto;

    }
    h2 {
      color: var(--v2-card-headline-color);
      text-align: center;
      font-family: var(--fontMono);
      margin-top: 3rem;
    }
    a {
      cursor: pointer;
    }
    p a {
          text-decoration: none;
            cursor: pointer;
            background-image: linear-gradient(90deg, var(--v2-label-color-pink), var(--v2-label-color-purple));
            background-position: 0px 22px;
            background-repeat: repeat-x;
            background-size: 100% 1px;
            overflow: visible;
            padding-bottom: 6px;
            color: var(--v2-card-paragraph-color);
    }
    p,
    ul,
    ol {
      max-width: 600px;
      margin: 0 auto 1rem auto;
      color: var(--v2-card-paragraph-color);
    }
  }

  .section-title.heading {
    color: var(--v2-card-headline-color);
    text-align: center;
    font-family: var(--fontMono);
    margin-top: 3rem;
    max-width: 600px;
    margin: 2rem auto 2rem auto;
  }

  .section-title.center {
    color: var(--v2-card-headline-color);
    max-width: 600px;
    margin: 0 auto;
  }


  .quotebox {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
      blockquote {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        line-height: 1.4;
        font-family: "IBM Plex Mono", monospace;
        background: linear-gradient(45deg,
            var(--v2-label-color-pink),
            var(--v2-label-color-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s ease-in-out;

        @media screen and (min-width: $vp-tablet) {
          font-size: 1.9rem;
        }
      }
  }



  .row:nth-child(1n+1) .section-title {
    font-size: 1.8rem;
  }


  iframe {
    max-width: 600px;
    display: block;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
  }

  .row>figure {
    padding: 0 !important;
    margin: 2rem auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  figure img {
    display: block;
  }
}

.partner #desktop-sidemenu-front {
  display: none;
}

.partner .row.added {
  display: none;
}

