.preview {
  font-family: v(fontMono);
  position: relative;
  display: block;
  width: 100%;
  @media screen and (max-width: 830px) {
    margin-bottom: var(--gutter);
    border-radius: 0;
    border: 0;
  }
  >a {
    position: relative;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    gap: var(--gutter);
  }
  time {
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: calc(var(--gutter) / 4);
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }

  .headline {
    display: block;
    margin: 0;
    margin-bottom: calc(var(--gutter) / 2);
    font-family: v(fontMono);
    font-weight: 500;
    font-size: 1.6rem;
    position: relative;
    line-height: 1.3;
    color: v(v2-card-headline-color);
    @media screen and (max-width: 1023px) {
      font-size: 1.1rem;
      margin-bottom: 0.6rem;
    }
  }
  .labels span {
    display: inline-block;
    color: var(--v2-card-paragraph-color);
    margin-bottom: 0.6rem;
    font-family: var(--fontRegular);
  }
  .standfirst {
    margin: 0;
    margin-bottom: 0.5rem;
    color: v(v2-card-paragraph-color);
    position: relative;
    font-family: v(fontRegular);
    font-size: 1.1rem;
    @media screen and (max-width: 1023px) {
      font-size: 0.8rem;
    }
  }

  figure {
    border-radius: 10px;
    padding: 0;
    margin: 0 0 calc(var(--gutter)/2) 0;
    overflow: hidden;
    padding-bottom: 0 !important;
    @media screen and (max-width: 1023px) {
      flex: 0 0 128px;
    }

    position: relative;
    img {
      display: block;
      width: 100%;
      &.lazyload {
        width: auto;
        height: auto;
      }
    }
  }
}

.frontpage .row:not(.added):nth-child(6n + 0) {
  .label,
  .deck {
    border: 1px solid v(v2-label-color-pink);
  }
}
.frontpage .row:not(.added):nth-child(6n + 1) {
  .label,
  .deck {
    border: 1px solid v(v2-label-color-purple);
    color: v(v2-card-always-white);
  }
}
.frontpage .row:not(.added):nth-child(6n + 2) {
  .label,
  .deck {
    border: 1px solid v(v2-label-color-blue);
    color: v(v2-card-always-white);
  }
}

.frontpage .row:not(.added):nth-child(6n + 3) {
  .label,
  .deck {
    border: 1px solid v(v2-label-color-teal);
    color: v(v2-card-always-white);
  }
}
.frontpage .row:not(.added):nth-child(6n + 4) {
  .label,
  .deck {
    border: 1px solid v(v2-card-always-white);
    color: v(v2-card-always-black);
  }
}
.frontpage .row:not(.added):nth-child(6n + 5) {
  .label,
  .deck {
    border: 1px solid v(v2-card-always-black);
  }
}
