/** All pages under /emne/ */
.section-list #front-articles-list {
    max-width: 700px;
    padding: var(--gutter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    margin: 0 auto;
    .standfirst {
        display: none;
    }
    figure {
        width: 100%;
        overflow: hidden;
        flex: 0 0 200px;
    }
    .preview a {
        flex-direction: column;
        gap: calc(var(--gutter) / 2)
    }
    .headline {
        font-size: 1.1rem;
    }
    .row:first-child {
        grid-column: span 2;
        .headline {
            font-size: 2.6rem;
        }
        figure {
            flex: 0 0 400px;
        }
        
    }
}

