#desktop-sidemenu-front {
  display: block;
  padding-top: 3rem;
  .preview {
    //background-color: transparent;
  }
}

// dummy styling
.frontpage .dummy-aside-content {
  &.preview-list {
    
    h3,
    &.job-list h3
     {
      background: var(--v2-card-background);
      height: 2rem;
      margin-top: 0;
    }
  } 
  .preview {
    .article-preview-text {
      width: 100%;
      .labels {
        display: block;
        border: 0;
        .label {
          height: 1rem;
          background-color: var(--v2-card-background);
          display: inline-block;
          width: 50%;
          border: 0;
        }
      }
      .headline {
        height: 2rem;
        background-color: var(--v2-card-background);
        border-radius: 10px;
      }
    }
    a {
      align-items: stretch;
    }

    figure {
      width: 50px;
      height: 50px;
      background-color: var(--v2-card-background);
    }
  }
  .listing-actions .button {
    min-height: 38px;
  }

  .label,
  .headline,
  figure {
    animation: flashBackground 4s linear infinite;
  }
}
