/**
    This row is shown at the base of all article tiles.
    Lists number of comments, reactions and tags
**/

.article-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--gutter) calc(var(--gutter)/2) var(--gutter);
  font-size: 0.9rem;
  font-family: var(--fontRegular);
  gap: calc(var(--gutter)/2) calc(var(--gutter)/2);
  @media screen and (max-width: 700px) {
    padding: calc(var(---gutter)/2)rem;
    font-size: 0.8rem;
  }
  .reaction-button {
    background-color: transparent;
    color: var(--v2-card-paragraph-color);

    border: 0;
    display: flex;
    align-items: center;
    padding: 0;
    &:before {
      content: "";
      display: inline-block;

      background-repeat: no-repeat;
      background-size: 100%;
      color: white;
      pointer-events: none;
      z-index: 1;
      width: 17px;
      height: 17px;
      filter: invert(1);
      opacity: 0.4;
      margin-right: 0.3rem;
    }
    &.reaction {
      &:before {
        background-image: url(https://www.kode24.no/files/2022/05/31/kode24-heart-square.png);
      }
    }
    &.comment {
      &:before {
        background-image: url(https://www.kode24.no/files/2022/02/04/kode24-message-square.png);
      }
    }
    @media screen and (max-width: 700px) {
      margin-right: 0;
    }
  }
  .social-buttons {
    display: flex;
    gap: calc(var(--gutter) / 2);
    align-items: center;
  }


  .article-social-tags {
    display: flex;
    gap: calc(var(--gutter) / 2);
    .social-tag {
      display: block;
      padding: 0;
      color: var(--v2-card-paragraph-color);
      white-space: nowrap;

      @media screen and (max-width: 700px) {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

.frontpage .row:not(.added):nth-child(6n + 0) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-teal);
  }
}
.frontpage .row:not(.added):nth-child(6n + 1) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-pink);
  }
}
.frontpage .row:not(.added):nth-child(6n + 2) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-purple);
  }
}

.frontpage .row:not(.added):nth-child(6n + 3) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-blue);
  }
}
.frontpage .row:not(.added):nth-child(6n + 4) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-yellow);
  }
}
.frontpage .row:not(.added):nth-child(6n + 5) article.preview .article-social {
  .social-tag {
    color: v(v2-label-color-orange);
  }
}


.light .frontpage article.preview .article-social {
  .reaction-button {
    &:before {
      filter: invert(0);
    }
  }
}