// standard colors
/**   Use this function when referencing colors.
      it is basically just a shorthand.

      usage: v(background-dark) outputs var(--background-dark)
**/
@function v($var) {
  // https://dev.to/meduzen/write-css-variables-faster-in-scss-1mon
  @return var(--#{$var});
}

@function vDarken($var) {
  // https://dev.to/meduzen/write-css-variables-faster-in-scss-1mon
  @return darken(var(--#{$var}), 40%);
}

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i|IBM+Plex+Sans:400,400i,500,500i");

/**
:root {
  --v2-background: hsl(210, 4%, 10%);
  --v2-background-always-dark: hsl(210, 4%, 10%);
  --v2-background-faded: hsla(210, 4%, 10%, 80%);

  --v2-card-background: hsl(210, 3%, 15%);
  --v2-card-background-sidebar: hsl(210, 3%, 14%);
  --v2-card-background-hover: hsl(210, 3%, 19%);
  --v2-card-background-level-2: hsl(0, 0%, 20%);
  --v2-card-headline-color: hsl(0, 0%, 100%);
  --v2-card-paragraph-color: hsl(0, 0%, 70%);

  --v2-calendar-button-background-premium: hsla(0, 0%, 100%, 10%);
  --v2-calendar-button-background: hsla(290, 76%, 31%, 0.25);
  --v2-calendar-button-outline: hsla(290, 76%, 31%, 1);
  --v2-job-button-background: hsla(327, 81%, 54%, 0.25);
  --v2-job-button-outline: hsl(327, 81%, 54%);

  --v2-label-color-pink: hsl(327, 81%, 54%);
  --v2-label-color-purple: hsl(300, 66%, 43%);
  --v2-calendar-gradient-start: hsl(259, 58%, 26%);
  --v2-calendar-gradient-stop: hsl(290, 98%, 44%);
  --v2-commercial-orange-stop: hsl(33, 100%, 50%);

  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-white-paragraph-color: hsl(0, 0%, 70%);
  --v2-card-always-black: hsl(210, 4%, 10%);
  --v2-card-always-dark-background: hsl(210, 3%, 15%);
  --v2-card-always-dark-background-sidebar: hsl(210, 3%, 14%);
  --v2-card-always-dark-paragraph-color: hsl(0, 0%, 70%);

  // labels

  --v2-label-color-teal: hsl(162, 81%, 40%);
  --v2-label-color-teal-darker: hsl(162, 81%, 30%);
  --v2-label-color-pink: hsl(327, 81%, 40%);
  --v2-label-color-pink-darker: hsl(327, 81%, 30%);
  --v2-label-color-purple: hsl(277, 81%, 40%);
  --v2-label-color-purple-darker: hsl(277, 81%, 30%);
  --v2-label-color-blue: hsl(210, 81%, 40%);
  --v2-label-color-blue-darker: hsl(210, 81%, 30%);
  --v2-label-color-yellow: hsl(38, 81%, 40%);
  --v2-label-color-yellow-darker: hsl(38, 81%, 30%);
  --v2-label-color-orange: hsl(24, 81%, 40%);
  --v2-label-color-orange-darker: hsl(24, 81%, 30%);
  --v2-label-color-midnight: hsl(213, 25%, 40%);
  --v2-label-color-midnight-darker: hsl(213, 25%, 30%);
  --v2-label-color-grey: hsl(184, 7%, 40%);
  --v2-label-color-grey-darker: hsl(185, 5%, 30%);

  --vp-tablet: 700px;
  --vp-desktop: 1025px;
  --vp-desktopWide: 1330px;

  --fontMono: "IBM Plex Mono", monospace;
  --fontRegular: "IBM Plex Sans", sans-serif;

  --gutter: 0.4rem;

  // variables used by google ads
  --color-adWrapperTitleColor: hsl(0, 0%, 100%);
  --color-adWrapperBackground: hsl(210, 3%, 15%);
}

.light {
  --v2-background-faded: hsla(0, 0%, 94%, 80%);
  --v2-background: hsl(0, 0%, 94%);
  --v2-background-always-dark: hsl(210, 4%, 10%);
  --v2-card-background: hsl(0, 0%, 100%);
  --v2-card-background-hover: hsl(0, 0%, 100%);
  --v2-card-background-sidebar: hsl(0, 0%, 96%);
  --v2-card-headline-color: hsl(210, 3%, 14%);
  --v2-card-paragraph-color: hsl(210, 3%, 16%);
  --v2-job-button-background: hsla(327, 81%, 54%, 0.2);
  --v2-job-button-outline: hsl(327, 81%, 54%);
  --v2-card-background-level-2: hsl(0, 0%, 88%);

  // variables used by google ads
  --color-adWrapperTitleColor: hsl(210, 3%, 14%);
  --color-adWrapperBackground: hsl(0, 0%, 100%);
}
**/


:root {
  --v2-main-color: 230;
  --v2-background: hsl(var(--v2-main-color), 8%, 8%);
  --v2-background-always-dark: hsl(var(--v2-main-color), 12%, 12%);
  --v2-background-faded: hsl(230, 15%, 30%), 80%;

  --v2-card-background: hsl(var(--v2-main-color), 14%, 17%);
  --v2-card-border-background: hsl(var(--v2-main-color), 14%, 20%);
  --v2-card-background-hover: hsl(var(--v2-main-color), 14%, 20%);
  --v2-card-background-highlight: hsl(var(--v2-main-color), 16%, 11%);
  --v2-card-headline-color: hsl(60, 30%, 96%);
  --v2-card-paragraph-color: hsl(var(--v2-main-color), 5%, 65%);
  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-white-paragraph-color: hsl(0, 0%, 70%);
  --v2-card-always-black: hsl(231, 15%, 18%);
  --v2-card-always-dark-background: hsl(210, 3%, 15%);
  --v2-card-always-dark-background-sidebar: hsl(210, 3%, 14%);
  --v2-card-always-dark-paragraph-color: hsl(0, 0%, 70%);


  --v2-calendar-button-background-premium: hsla(0, 0%, 100%, 10%);
  --v2-calendar-button-background: hsla(290, 76%, 31%, 0.25);
  --v2-calendar-button-outline: hsla(290, 76%, 31%, 1);
  --v2-job-button-background: hsla(327, 81%, 54%, 0.25);
  --v2-job-button-outline: hsl(327, 81%, 54%);


  // preview-list
  --v2-preview-list-background: transparent;

  // labels
  --v2-card-label-background: hsl(245, 14%, 14%);
  --v2-label-color-teal: hsl(180, 100%, 79%);
  --v2-label-color-teal-darker: hsl(180, 100%, 40%);
  --v2-label-color-pink-lighter: hsl(327, 100%, 60%);
  --v2-label-color-pink: hsl(327, 81%, 54%);
  --v2-label-color-pink-darker: hsl(327, 100%, 40%);
  --v2-label-color-purple: hsl(300, 66%, 43%);
  --v2-label-color-purple-darker: hsl(300, 100%, 40%);
  --v2-label-color-blue: hsl(115, 100%, 75%);
  --v2-label-color-blue-darker: hsl(115, 100%, 40%);
  --v2-label-color-yellow: hsl(60, 100%, 75%);
  --v2-label-color-yellow-darker: hsl(60, 100%, 40%);
  --v2-label-color-orange: hsl(35, 100%, 75%);
  --v2-label-color-orange-darker: hsl(35, 100%, 40%);

  --v2-button-background-color: hsl(327, 81%, 54%);
  --v2-notification-background-color: hsl(327, 81%, 54%);

  --vp-tablet: 700px;
  --vp-desktop: 1025px;
  --vp-desktopWide: 1330px;

  --fontMono: "IBM Plex Mono", monospace;
  --fontRegular: "IBM Plex Sans", sans-serif;

  --gutter: 1.25rem;
  --border-radius : 0.8rem;

  // variables used by google ads
  --color-adWrapperTitleColor: hsl(0, 0%, 100%);
  --color-adWrapperBackground: hsl(210, 3%, 15%);
  @media screen and (max-width: 829px) {
    --v2-card-background-highlight: hsl(var(--v2-main-color), 20%, 14%);
    --v2-card-background: hsl(var(--v2-main-color), 14%, 11%);
  }
}

.light {
  --v2-background-faded: hsla(0, 0%, 94%, 80%);
  --v2-background: hsl(214, 100%, 97%);
  --v2-background-always-dark: hsl(210, 4%, 10%);
  --v2-card-background: hsla(0, 0%, 100%, 1);
  --v2-card-background-hover: hsl(0, 0%, 100%);
  --v2-card-border-background: hsla(244, 14%, 20%, 0.10);
  --v2-card-background-highlight: hsl(0, 0%, 100%);
  --v2-card-headline-color: hsl(231, 15%, 20%);
  --v2-card-paragraph-color: hsl(231, 10%, 42%);
  --v2-job-button-background: hsla(327, 81%, 54%, 0.2);
  --v2-job-button-outline: hsl(327, 81%, 54%);
  --v2-card-background-level-2: hsl(0, 0%, 88%);

  --v2-card-label-background: hsla(0, 0%, 100%, 0.60);

  --v2-preview-list-background: hsla(0, 0%, 100%, 0.70);

  // variables used by google ads
  --color-adWrapperTitleColor: hsl(210, 3%, 14%);
  --color-adWrapperBackground: hsl(0, 0%, 100%);
}





// vp - viewport
$vp-tablet: 700px;
$vp-desktop: 1025px;
$vp-desktopWide: 1330px;
