
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i|IBM+Plex+Sans:400,400i,500,500i");

:root {
  --v2-main-color: 230;
  --v2-background: hsl(var(--v2-main-color), 8%, 8%);
  --v2-background-highlight: hsl(var(--v2-main-color), 12%, 16%);
  --v2-background-always-dark: hsl(var(--v2-main-color), 12%, 12%);

  --v2-card-background: hsl(var(--v2-main-color), 14%, 16%);
  --v2-card-background-highlight: hsl(var(--v2-main-color), 14%, 24%);
  --v2-card-border-background: var(--v2-card-background-highlight);

  --v2-card-headline-color: hsl(60, 30%, 96%);
  --v2-card-paragraph-color: hsl(var(--v2-main-color), 5%, 65%);
  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-white-paragraph-color: hsl(0, 0%, 70%);
  --v2-card-always-black: hsl(231, 15%, 18%);
  --v2-card-always-dark-background: hsl(210, 3%, 15%);
  --v2-card-always-dark-background-sidebar: hsl(210, 3%, 14%);
  --v2-card-always-dark-paragraph-color: hsl(0, 0%, 70%);


  --v2-calendar-button-background-premium: hsla(0, 0%, 100%, 10%);
  --v2-calendar-button-background: hsla(290, 76%, 31%, 0.25);
  --v2-calendar-button-outline: hsla(290, 76%, 31%, 1);
  --v2-job-button-background: hsla(327, 81%, 54%, 0.25);
  --v2-job-button-outline: hsl(327, 81%, 54%);


  // preview-list
  --v2-preview-list-background: transparent;

  // labels
  --v2-card-label-background: hsl(245, 14%, 14%);
  --v2-label-color-teal: hsl(180, 100%, 79%);
  --v2-label-color-teal-darker: hsl(180, 100%, 40%);
  --v2-label-color-pink-lighter: hsl(327, 100%, 60%);
  --v2-label-color-pink: hsl(327, 81%, 54%);
  --v2-label-color-pink-darker: hsl(327, 100%, 40%);
  --v2-label-color-purple: hsl(300, 66%, 43%);
  --v2-label-color-purple-darker: hsl(300, 100%, 40%);
  --v2-label-color-blue: hsl(115, 100%, 75%);
  --v2-label-color-blue-darker: hsl(115, 100%, 40%);
  --v2-label-color-yellow: hsl(60, 100%, 75%);
  --v2-label-color-yellow-darker: hsl(60, 100%, 40%);
  --v2-label-color-orange: hsl(35, 100%, 75%);
  --v2-label-color-orange-darker: hsl(35, 100%, 40%);

  --v2-button-background-color: hsl(327, 81%, 54%);
  --v2-notification-background-color: hsl(327, 81%, 54%);

  --vp-tablet: 700px;
  --vp-desktop: 1025px;
  --vp-desktopWide: 1330px;

  --fontMono: "IBM Plex Mono", monospace;
  --fontRegular: "IBM Plex Sans", sans-serif;

  --gutter: 1.25rem;
  --border-radius : 0.6rem;

  // variables used by google ads
  --color-adWrapperTitleColor: hsl(0, 0%, 100%);
  --color-adWrapperBackground: hsl(210, 3%, 15%);



  --v2-light-background: hsl(216, 20%, 95%);
  --v2-light-background-always-dark: hsl(210, 4%, 10%);
  --v2-light-background-highlight: hsl(216, 20%, 95%);
  --v2-light-card-background: hsla(0, 0%, 100%, 1);
  --v2-light-card-border-background: hsla(244, 14%, 20%, 0.10);
  --v2-light-card-background-highlight: hsl(223, 15%, 91%);
  --v2-light-card-headline-color: hsl(231, 15%, 20%);
  --v2-light-card-paragraph-color: hsl(231, 10%, 42%);
  --v2-light-job-button-background: hsla(327, 81%, 54%, 0.2);
  --v2-light-job-button-outline: hsl(327, 81%, 54%);
  --v2-light-card-background-level-2: hsl(0, 0%, 88%);

  --v2-light-card-label-background: hsla(0, 0%, 100%, 0.60);

  // variables used by google ads
  --color-light-adWrapperTitleColor: hsl(210, 3%, 14%);
  --color-light-adWrapperBackground: hsl(0, 0%, 100%);
}





@media (prefers-color-scheme: light) {
  .light {
    --v2-background: var(--v2-light-background);
    --v2-background-always-dark: var(--v2-light-background-always-dark);
    --v2-card-background: var(--v2-light-card-background);
    --v2-card-border-background: var(--v2-light-card-border-background);
    --v2-card-background-highlight: var(--v2-light-card-background-highlight);
    --v2-card-headline-color: var(--v2-light-card-headline-color);
    --v2-card-paragraph-color: var(--v2-light-card-paragraph-color);
    --v2-job-button-background: var(--v2-light-job-button-background);
    --v2-job-button-outline: var(--v2-light-job-button-outline);
    --v2-card-background-level-2: var(--v2-light-card-background-level-2);

    --v2-card-label-background: var(--v2-light-card-label-background);

    --v2-preview-list-background: var(--v2-light-preview-list-background);

    // variables used by google ads
    --color-adWrapperTitleColor: var(--color-light-adWrapperTitleColor);
    --color-adWrapperBackground: var(--color-light-adWrapperBackground);
  }
}

.light {
  --v2-background: var(--v2-light-background);
  --v2-background-always-dark: var(--v2-light-background-always-dark);
  --v2-card-background: var(--v2-light-card-background);
  --v2-card-border-background: var(--v2-light-card-border-background);
  --v2-card-background-highlight: var(--v2-light-card-background-highlight);
  --v2-card-headline-color: var(--v2-light-card-headline-color);
  --v2-card-paragraph-color: var(--v2-light-card-paragraph-color);
  --v2-job-button-background: var(--v2-light-job-button-background);
  --v2-job-button-outline: var(--v2-light-job-button-outline);
  --v2-card-background-level-2: var(--v2-light-card-background-level-2);

  --v2-card-label-background: var(--v2-light-card-label-background);

  --v2-preview-list-background: var(--v2-light-preview-list-background);

  // variables used by google ads
  --color-adWrapperTitleColor: var(--color-light-adWrapperTitleColor);
  --color-adWrapperBackground: var(--color-light-adWrapperBackground);
}





// vp - viewport
$vp-tablet: 700px;
$vp-desktop: 1025px;
$vp-desktopWide: 1330px;
