/* 🐥 piip piip kodeordet er datan */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: var(--v2-background);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-top: calc(var(--gutter) * 5);
  &::-webkit-scrollbar-track {
    background: var(--v2-card-border-background);
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      0deg,
      var(--v2-label-color-pink),
      var(--v2-label-color-purple)
    );
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
a {
  color: var(--v2-card-paragraph-color);
  text-decoration: none;
}



.text-center {
  text-align: center;
}

#kode24-graphics-header {
  display: none;
}

.icon {
  path,
  rect,
  circle,
  line,
  polyline {
    stroke: var(--v2-card-paragraph-color);
    stroke-width: 1px;
  }

}
.cross-site-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin underlined {
  text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(
      90deg,
      var(--v2-label-color-pink),
      var(--v2-label-color-purple),
    );
    background-position: 0px 22px;
    background-repeat: repeat-x;
    background-size: 100% 1px;
    overflow: visible;
    padding-bottom: 6px;
    color: var(--v2-card-paragraph-color);
}