.button,
.job-ad-cta {
  display: flex;
  align-items: center;
  border-radius: var(--inner-border-radius);
  padding: 0.6rem 1.25rem;
  color: var(--v2-card-headline-color);
  font-family: var(--fontRegular);
  font-size: 0.9rem;
  white-space:nowrap;
  text-align: center;
  justify-content: center;
  background-color: var(--v2-card-background-highlight);
  @media screen and (max-width: 1023px) {
    padding: 6px 14px;
    font-size: 0.8rem;
  }
  &:hover {
    background-color: var(--v2-card-background-highlight-2);
  }
}

.job-ad-cta {
  font-size: 1.4rem;
  background-color: var(--v2-card-background);
  padding: var(--gutter);
  border: 0;
  &:hover {
    background-color: var(--v2-card-background-highlight)
  }
}
