.company-league-table {
  width: 100%;
  img {
    max-width: 30px;
  }
  color: var(--v2-card-paragraph-color);
  border-collapse: collapse;
  td {
      padding: 0.6rem;
      font-size: 0.8rem;
      text-align: left;
      border-bottom: 1px solid var(--v2-card-border-background);

  }
  tr:last-child {
      td {
          border-bottom: none;
      }
  }
  tr:hover {
      td {
          background-color: var(--v2-card-background-hover);
      }
  }
}

.company-league-table-wrapper {
}