h2 {
  color: var(--v2-card-headline-color);
  margin: 0 0 1rem 0;
  #date-frontpage {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 0.1rem;
    color: var(--v2-card-paragraph-color);
  }
  @media screen and (max-width: 1023px) {
      font-size: 1.4rem;
      padding: 0 1.2rem;
  }
}
.frontpage {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 0;
  margin: 0 auto 0 auto;
  padding: calc(var(--gutter) * 5) 0 0.6rem 0;
  grid-template-columns: 0 100% 0;
  #desktop-sidemenu-front {
    display: none;
  }

  #main-content,
  .article-entity {
      grid-row: 1;
      grid-column: span 3;
  }
  @media screen and (min-width: 830px) {
    padding: calc(var(--gutter) * 5) max(var(--gutter), 50vw - 860px);
    grid-template-columns: minmax(160px, 160px) minmax(0, 986px);
    gap: calc(var(--gutter) * 2);

    &.with-ribbon {
        padding-top: 10rem;

      }

    #main-content,
    .article-entity {
      grid-row: 1;
      grid-column: 2;
    }
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: minmax(160px, 260px) minmax(722px, 986px) 310px;
    #desktop-sidemenu-front {
        display: block;
      }
    #main-content,
    .article-entity {
      grid-row: 1;
      grid-column: 2;
    }
  }
  img {
    width: 100%;
    max-width: 100%;
  }

  &.with-ribbon {
    padding-top: 10rem;
  }

  &.only-main-row {
    #left-menu,
    #desktop-sidemenu-front {
      display: none;
    }
    #front-articles-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


}

.row {
  justify-content: center;
  margin-bottom: calc(var(--gutter) * 2);

  iframe {
    width: 100%;
    margin-bottom: 0 !important;
    display: block;
  }

  .columns.large-6,
  .columns.large-5,
  .columns.large-7 {
    margin-bottom: var(--gutter);
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: var(--gutter);
  }
}
