.frontpage {
  --max-width: 1400px;
  --max-width-articles-container: 986px;
  --max-width-sidebar: 340px;
  display: flex;
  gap: var(--gutter);
  justify-content: center;
  padding: 0;
  margin: 0 auto 0 auto;
  padding: 0 0 0.6rem 0;
  position: relative;
  max-width: 100%;
  #desktop-sidemenu-front {
    display: none;
  }

  #main-content {
    width: 100%;
    /** margin: 0 auto; **/
  }

  @media screen and (min-width: 986px) {
    #main-content {
      max-width: 986px;
    }
  }

  // we have space for sidebar
  @media screen and (min-width: 1300px) {
    #desktop-sidemenu-front {
      display: block;
      max-width: var(--max-width-sidebar);
    }
  }

  @media screen and (min-width: 1400px) {
    #desktop-sidemenu-front {
      width: var(--max-width-sidebar);
      min-width: var(--max-width-sidebar);
    }
    max-width: var(--max-width);
    &.with-ribbon {
      padding-top: 10rem;
    }
  }
  /**
  @media screen and (min-width: 1500px) {
    max-width: 1700px;
    grid-template-columns: minmax(160px, 260px) 986px minmax(240px, 310px);
    #desktop-sidemenu-front {
      display: block;
      width: 220px;
      position: absolute;
      right: var(--gutter);
      top: 0;
    }

    #main-content,
    .article-entity {
      grid-row: 1;
      grid-column: 2;
    }
  }
  @media screen and (min-width: 1660px) {
    #desktop-sidemenu-front {
      width: 300px;
    }
  }
  @media screen and (min-width: 1740px) {
    #desktop-sidemenu-front {
      right: 0;
      top: 0;
    }
  }

  **/

  img {
    width: 100%;
    max-width: 100%;
  }

  &.with-ribbon {
    padding-top: 10rem;
  }

  &.only-main-row {
    #front-articles-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.full-width-container-constrained {
  width: 100%;
}
