.page-content {
  .headline {
    color: var(--v2-card-headline-color);
    font-family: var(--fontMono);
  }
  .subtitle,
  .kicker {
    color: var(--v2-card-paragraph-color);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: unset;
}
.font-IBMPlexMono {
  font-family: var(--fontMono);
}

body {
  color: var(--v2-card-headline-color);
}

.row .row {
  margin-bottom: 0;
}