.page-content {
  .headline {
    color: var(--v2-card-headline-color);
  }
  .subtitle,
  .kicker {
    color: var(--v2-card-paragraph-color);
  }
}

.font-IBMPlexMono {
  font-family: var(--fontMono);
}


