.page-content {
  article.column .content {
    .headline {
      color: var(--v2-card-headline-color);
      font-family: var(--fontMono);
      line-height: 1.2;
      letter-spacing: -1px;
      font-weight: 600;
      padding: var(--gutter) 0 var(--gutter) 0;
      margin: 0;
    }

    .floatingText {
      color: var(--v2-card-always-white) !important;
      .headline {
        color: var(--v2-card-always-white) !important;
        span {
          color: var(--v2-card-always-white) !important;
        }
        a {
          color: var(--v2-card-always-white) !important;
        }
      }
    }
    .media:has(.floatingText) + .bylines {
      address,
      name {
        color: var(--v2-card-always-white) !important;
      }
    }

    .bylines {
      margin: 0;
      margin-top: 0;
      padding: 0 0 var(--gutter) 0;
      .content {
        background: transparent;
      }
    }

    .subtitle,
    .kicker {
      color: var(--v2-card-headline-color);
      margin: 0;
      padding: var(--gutter) 0 0 0;
      display: flex;
      gap: calc(var(--gutter) / 2);
      align-items: center;
    }

    .headline + .subtitle {
      color: var(--v2-card-paragraph-color);
      margin: 0;
      padding: 0 var(--gutter) var(--gutter) var(--gutter);
    }

    .kicker + .headline {
      padding: 0 0 var(--gutter) 0;
    }
  }

  .border_width_0 {
    padding: 0;
  }

  .fullwidthTarget {
    border-radius: var(--border-radius);
  }

  .content.fullwidthTarget {
    display: flex;
    justify-content: center;
  }

  .bg-pink,
  .bg-purple,
  .bg-teal,
  .bg-blue,
  .bg-yellow,
  .bg-gray,
  .bg-orange {
    .fullwidthTarget {
      border-radius: 0;
    }

    border-radius: var(--border-radius);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: unset;
}

.font-IBMPlexMono {
  font-family: var(--fontMono);
}

body {
  color: var(--v2-card-headline-color);
}

.row .row {
  margin-bottom: 0;
}

.row.hasContentPadding {
  margin-bottom: calc(var(--gutter));
}

.row .columns.large-6,
.row .columns.large-5,
.row .columns.large-7 {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  article.column .content figure.desktop-floatLeft,
  article.column .content figure.desktop-floatRight {
    margin-right: calc(0.7rem * 2);
  }
}

.page-content article.column .bylines {
  border-top: 0;
  margin-top: 0.7rem;

  .byline {
    padding-top: 0;
  }

  .byline figure {
    margin-right: 0.7rem;
  }
}

.bylines {
  @media (min-width: 1024px) {
    flex-wrap: wrap;

    .byline {
      figure {
        flex: 0 0 42px;
      }

      flex: 1 1 100%;

      /* standard: ta 100% bredde */
      &:not(:only-child) {
        max-width: calc(100% / 3);
      }
    }
  }
}

article.column .content figure {
  margin-bottom: 0;
}

article.column .content .flash:before {
  background-color: var(--v2-label-color-pink);
}

.large-12 .large-12 + .large-12 {
  margin-top: 0.7rem;
}

article:has(.floatingText .headline) {
  .article-reactions {
    bottom: unset;
    top: calc(var(--gutter) / 2);
  }
}

.article-reactions {
  position: absolute;
  right: calc(var(--gutter) / 2);
  bottom: calc(var(--gutter) / 2);
  background-color: var(--v2-card-background);
  padding: calc(0.7rem / 2);
  border-radius: var(--border-radius);
  display: flex;
  gap: calc(0.7rem / 2);
  font-size: 0.9rem;

  &.on-fire {
    animation: flicker 0.15s infinite alternate;
    background: linear-gradient(180deg, #ffcc00, #ff6600, #cc0000);
    background-size: 200% 200%;
    animation: fireGlow 1.5s infinite alternate, flicker 4s infinite alternate;
    box-shadow: 0 0 10px rgba(255, 100, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.6),
      0 0 30px rgba(255, 0, 0, 0.4);
  }

  @media screen and (min-width: 1024px) {
  }

  span {
    display: flex;
    align-items: center;
    gap: calc(0.7rem / 8);

    svg {
      font-size: 1.1rem;
    }
  }
}

/* Glow shift */
@keyframes fireGlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Flicker effect */
@keyframes flicker {
  0% {
    filter: brightness(1);
  }

  25% {
    filter: brightness(1.2);
  }

  50% {
    filter: brightness(0.9);
  }

  75% {
    filter: brightness(1.3);
  }

  100% {
    filter: brightness(1);
  }
}

#desktop-sidemenu-front .preview-list {
  background-color: var(--v2-card-background) !important;
}

a {
  color: var(--v2-card-headline-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.kicker.breaking-white:before {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin-bottom: 0;
  margin-top: 6px;
}

.page-content .mobile-fullWidth {
  @media screen and (max-width: 1024px) {
    width: calc(100vw - var(--lab-scrollbar-width));
    left: calc(50% - (100vw - var(--lab-scrollbar-width)) / 2);
    border-radius: 0;

    .fullwidthTarget {
      border-radius: 0;
    }
  }
}

#articles-above-first-banner {
  @media screen and (max-width: 1024px) {
    padding: 0 var(--gutter);
  }
}

@media (prefers-color-scheme: dark) {
  #light-switch-toggler-icon-left {
  }

  #light-switch-toggler-icon-right {
    display: none;
  }

  html.light {
    #light-switch-toggler-icon-left {
      display: none;
    }

    #light-switch-toggler-icon-right {
      display: block;
    }
  }
}

@media (prefers-color-scheme: light) {
  #light-switch-toggler-icon-left {
    display: none;
  }

  #light-switch-toggler-icon-right {
  }

  html.dark {
    #light-switch-toggler-icon-left {
      display: block;
    }

    #light-switch-toggler-icon-right {
      display: none;
    }
  }
}

.content.mobile-fullWidth {
  .headline,
  .description {
  }
}

.kicker {
  font-family: var(--fontMono);
  color: var(--v2-card-headline-color);
}

.content.fullwidthTarget {
  display: flex;
  justify-content: center;
}

.has-row-header[class*=" bg-"] {
  background-color: var(--v2-card-background) !important;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    bottom: 0;
    background-color: pink;
    content: "";
    border-radius: var(--border-radius);
  }

  &.bg-pink {
    &:before {
      background-color: var(--v2-label-color-pink-darker);
    }
  }

  &.bg-purple {
    &:before {
      background-color: var(--v2-label-color-purple-darker);
    }
  }

  &.bg-teal {
    &:before {
      background-color: var(--v2-label-color-teal-darker);
    }
  }

  &.bg-blue {
    &:before {
      background-color: var(--v2-label-color-blue-darker);
    }
  }

  &.bg-yellow {
    &:before {
      background-color: var(--v2-label-color-yellow-darker);
    }
  }

  &.bg-gray {
    &:before {
      background-color: var(--v2-label-color-gray-darker);
    }
  }

  &.bg-orange {
    &:before {
      background-color: var(--v2-label-color-orange-darker);
    }
  }
}

.has-row-header .row_header_text {
  margin-bottom: var(--gutter);
}

.has-row-header article figure {
  overflow: hidden;
}

[class*="image-gradient-bg-"] .img:after {
  background-image: linear-gradient(
    to bottom,
    transparent 30%,
    var(--background-color)
  );
}

.large-12 .large-12 + .large-12 {
  margin-top: 0;
}

// if content has no bg- class add padding
article.column .content:not(:has(figure)) {
  padding: var(--gutter);

  .headline {
    padding: 0 !important;
    line-height: 0 !important;
  }
}

.row.hasContentPadding[class*="bg-"] article.column .content {
  .fullwidthTarget {
    border-radius: var(--border-radius);
  }

  .desktop-floatLeft + .headline,
  .desktop-floatRight + .headline {
    @media screen and (min-width: 1024px) {
      padding: 0 var(--gutter);
    }
  }
  .mobile-floatLeft + .headline,
  .mobile-floatRight + .headline {
    @media screen and (max-width: 800px) {
      padding: 0 var(--gutter);
    }
  }
}
.content[class*=" bg-"] {
  padding-bottom: 1rem !important;
  .headline {
    padding-bottom: 0 !important;
  }

  .mobile-floatLeft + .kicker,
  .mobile-floatRight + .kicker {
    @media screen and (max-width: 800px) {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
  .mobile-floatLeft + .headline,
  .mobile-floatRight + .headline {
    @media screen and (max-width: 800px) {
      padding: 0 var(--gutter) !important;
    }
  }
}

.content {
  position: relative;
}

article.column .content:not([class*=" bg-"]) {
  background-color: var(--v2-card-background);
  border-radius: var(--border-radius);

  .fullwidthTarget {
    // no border-radius at all
    border-radius: 0;
  }

  .kicker {
    padding: var(--gutter) var(--gutter) 0 var(--gutter);
  }

  .kicker + .headline {
    padding: 0 var(--gutter) var(--gutter) var(--gutter);
  }

  //.headline+.bylines {
  //  padding: 0 var(--gutter) var(--gutter) var(--gutter);
  //}

  .headline {
    margin: 0;
    padding: var(--gutter);
  }

  .headline + .bylines {
    margin-top: 0;
    padding: 0 var(--gutter) var(--gutter) var(--gutter);
  }
  .desktop-floatLeft + .headline + .bylines,
  .desktop-floatRight + .headline + .bylines {
    @media screen and (min-width: 1024px) {
      padding: 0 var(--gutter) var(--gutter) var(--gutter);
    }
  }
  .mobile-floatLeft + .headline + .bylines,
  .mobile-floatRight + .headline + .bylines {
    @media screen and (max-width: 800px) {
      padding: 0 var(--gutter) var(--gutter) 0;
    }
  }
}

.headline:has(span + span),
.headline:has(span + br + span) {
  line-height: 0 !important;

  span {
    line-height: normal;
  }
}

.column,
.columns {
  padding: 0;
}

article.column .content .media:last-child figure {
  margin-top: 0;
}

.row .column + .column:not(.large-12),
.row .column + .columns:not(.large-12) {
  padding-left: calc(var(--gutter));
}

.row {
  margin-bottom: 0;
}

.row > .column {
  margin-bottom: calc(var(--gutter));
}

.row.hasContentPadding {
  padding: calc(var(--gutter)) calc(var(--gutter)) 0 calc(var(--gutter));
}

#front-articles-list .page-content .row:first-child article.column:first-child {
  @media screen and (max-width: 800px) {
    padding-top: var(--gutter);
  }
  @media screen and (min-width: 800px) {
    padding-top: 0;
  }
}

a:has(.media .floatingText h2):has(.bylines) .media {
  //padding-bottom: 3rem; /* ekstra plass */
  position: relative;
  h2 {
    padding-bottom: calc(var(--gutter) * 2);
  }
}

a:has(.media .floatingText h2):has(.bylines) .bylines {
  position: absolute;
  bottom: calc(var(--gutter) / 2);
  left: 0;
  right: 0;
  background: transparent;
  padding: 0 var(--gutter);
  margin: 0 0.7rem 0 0.7rem;
  .byline .content {
    background: transparent;
  }
}
