#lab-modalContainer {
  color: var(--v2-card-always-black);
  .section-title {
    color: var(--v2-card-always-black);
  }
  label {
    color: var(--v2-card-always-black);
  }
}

.bodytext-content-box {
  position: relative;
}

.labFn-empty-placeholder {
  width: 100%;
}

.full-bleed {
  .labFn-empty-placeholder {
    min-height: 500px;
    padding-top: 100px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

.labFn-edit {
  blockquote {
    -webkit-text-fill-color: unset;
  }
  .article-entity {
    header {
      .full-bleed {
        .text-left,
        .text-center,
        .text-right {
          bottom: 52px;
        }
      }
    }
  }
  .byline.columns {
    background-color: var(--v2-card-background);
    padding: 2.5rem;
  }
}


.article-entity .overlay {
  display: none;
}