// Overrides for the marquee style for topbanners
#page-body .marquee-container {
  @media screen and (min-width: 830px) {
    overflow-x: visible !important;
  }
  .overlay {
    --gradient-color: var(--v2-background), rgba(255, 255, 255, 0) !important;
    --gradient-width: 50px !important;
  }
}