.pride {
  background-image: linear-gradient(180deg, #e50000 0%, #e50000 16%, #ff8d00 16%, #ff8d00 32%, #ffee00 32%, #ffee00 48%, #028121 48%, #028121 64%, #004cff 64%, #004cff 82%, #770088 82%,  #770088 100%) !important;
}

.trans {
  background-image: linear-gradient(180deg, #5bcefa 0%, #5bcefa 20%, #f5a9b8 20%, #f5a9b8 40%, #ffffff 40%, #ffffff 60%, #f5a9b8 60%, #f5a9b8 80%, #5bcefa 80%, #5bcefa 100%) !important;
}



.ukraine {
  background-image: linear-gradient(0deg, #ffd42f 50%, #005db9 50%) !important;
}
