.skip-to:focus {
  transform: translateY(0px)
}

.skip-to {
  position: absolute;
  z-index: 200;
  transform: translateY(-800%);
  background-color: var(--v2-calendar-button-outline);
  padding: 20px;
  border-radius: 10px;
  color: var(--v2-card-always-white);
}