#sort-latest-articles {
  display: inline-flex;
  list-style: none;
  padding: calc(var(--gutter) / 4);
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: calc(100% - calc(var(--gutter)));
  width: auto;
  margin: 0 auto var(--gutter) auto;
  background-color: var(--v2-card-background);

  @media screen and (max-width: 750px) {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    justify-content: center;
    padding: calc(var(--gutter) / 2);
    display: flex;
    width: calc(100% - calc(var(--gutter) * 2));
    li {
      width: 100%;
    }
    button {
      width: 100%;
      justify-content: center;
      padding: calc(var(--gutter));
    }
  }
  button {
    background-color: transparent;
    border: 0;
    padding: calc(var(--gutter) / 1.5);
    color: var(--v2-card-paragraph-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--inner-border-radius);
    @media screen and (min-width: 1024px) {
      padding: calc(var(--gutter) / 3) calc(var(--gutter) / 1.5);
    }

    svg {
      margin-right: calc(var(--gutter) / 4);
    }
    &:hover {
      color: var(--v2-card-headline-color);
    }
    &.active {
      background-color: var(--v2-card-background-highlight);
      color: var(--v2-card-headline-color);
    }
  }
}