
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i|IBM+Plex+Sans:400,400i,500,500i");

/**
  fetches the user's preferred color scheme
  adds a toggle for block elements that should be hidden according to theme
*/
@media (prefers-color-scheme: dark) {
  html {
    @include dark;
    --showBlockForLight: none;
    --showBlockForDark: block;
  }
}


@media (prefers-color-scheme: light) {
  html {
    @include light;
    --showBlockForLight: block;
    --showBlockForDark: none;
  }
}

html.dark {
  @include dark;
  --showBlockForLight: none;
  --showBlockForDark: block;
}

html.light {
  @include light;
  --showBlockForLight: block;
  --showBlockForDark: none;
}



html {
  --vp-tablet: 830px;
  --vp-desktop: 1025px;
  --vp-desktopWide: 1330px;
  --fontMono: "IBM Plex Mono", monospace;
  --fontRegular: "IBM Plex Sans", sans-serif;
  --gutter: 0.8rem;
  @media screen and (min-width: 830px) {
    --gutter: 1.25rem;
  }
  --border-radius: 0.6rem;
  // variables used by google ads
    --color-adWrapperTitleColor: var(--v2-card-paragraph-color);
    --color-adWrapperBackground: var(--v2-card-background);
}

// vp - viewport
$vp-tablet: 830px;
$vp-desktop: 1025px;
$vp-desktopWide: 1330px;
