@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/**
  fetches the user's preferred color scheme
  adds a toggle for block elements that should be hidden according to theme
*/
@media (prefers-color-scheme: dark) {
  html {
    @include dark;
    --showBlockForLight: none;
    --showBlockForDark: block;
  }
}


@media (prefers-color-scheme: light) {
  html {
    @include light;
    --showBlockForLight: block;
    --showBlockForDark: none;
  }
}

html.dark {
  @include dark;
  --showBlockForLight: none;
  --showBlockForDark: block;
}

html.light {
  @include light;
  --showBlockForLight: block;
  --showBlockForDark: none;
}



html {
  --vp-tablet: 830px;
  --vp-desktop: 1025px;
  --vp-desktopWide: 1330px;
  --fontMono: "DM Mono", monospace;
  --fontRegular: "IBM Plex Sans", sans-serif;
  --gutter: 0.8rem;

  @media screen and (min-width: 830px) {
    --gutter: 1.25rem;
  }

  --border-radius: 0.6rem;
  --outer-border-radius: calc(var(--border-radius) + (var(--gutter) / 4));
  --inner-border-radius: calc(var(--border-radius) - (var(--gutter) / 4));
  --inner-inner-border-radius: calc(var(--inner-border-radius) - (var(--gutter) / 4));
  // variables used by google ads
  --color-adWrapperTitleColor: var(--v2-card-paragraph-color);
  --color-adWrapperBackground: var(--v2-card-background);
}

// vp - viewport
$vp-tablet: 830px;
$vp-desktop: 1025px;
$vp-desktopWide: 1330px;